<div *screenBelowLarge class="title-bar-small">
  <span class="glyphicon glyphicon-menu-hamburger"
        (click)="menuService.toggleLeftSideMenu()">

  </span>
  <div class="small-image-holder">
    <img class="small-image" src="assets/Images/logo.png">
  </div>
  <span class="glyphicon glyphicon-option-vertical"></span>
</div>
<div *screenLarge class="title-bar user-title-bar">
  <img src="assets/Images/logo.png" alt="Green Nations" />
  <div class="menu-area">
    <abhi-top-bar></abhi-top-bar>
    <abhi-menu  *ngIf="!menuService.isVertical">

    </abhi-menu>
  </div>
</div>
